.ui-header
{
	padding:0.5em;
}

.ui-floatingactions
{
	z-index:200;
}

#hambBtn
{
	display:inline-block;
	float:left;
}

#hambBtn > *
{
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}

.storagesList
{
	padding:0 1em;
}

.filesList
{
	height: 100%;
}

.storagesList > *
{
	padding:0.5em;
}

.fileName {
	display:inline-block;
}

.fileInfo:before {

  content: '\a';

  white-space: pre;

}

.fileIcon {
	float:left;
}

.icon {
	width:10vh;
	height:10vh;
}

.actionsList
{
	width:100%;
	text-align:center;
	cursor: pointer;
}

.popUpContent
{
	text-align:center !important;
	padding:1em;
	overflow:hidden !important;
}

.popUpContent > *
{
	width:100%;
}

.ui-icon-folder::after { 
   -webkit-mask-image: url('res/folder.png'); 
}

.ui-icon-file::after { 
   -webkit-mask-image: url('res/file.png'); 
}